<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    

<mapper namespace="com.neuedu.dao.AnswerMapper">


    <!--批量插入问题-->
    <insert id="saveBatch" useGeneratedKeys="true"
            keyProperty="id">
        insert into qanswer (qid, qtitle,qno,answer,answertime,userip) values
        <foreach item="item" collection="list" separator=",">
            (#{item.qid}, #{item.qtitle},#{item.qno},#{item.answer},now(),#{item.userip})
        </foreach>
    </insert>

  <!--  findAllByQno-->
    <select id="findAllByQno" parameterType="java.lang.String" resultType="qanser">

        select id,qid,qtitle,qno,answer,answertime,userip from qanswer where qno=#{qno}
    </select>



</mapper>
