<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

<!-- 加载jdbc.properties文件
<properties resource="jdbc.properties"/>
-->
<!-- 别名 -->
<typeAliases>
 <typeAlias type="com.neuedu.entity.Quser" alias="user"/>
 <typeAlias type="com.neuedu.entity.Qinfo" alias="qinfo"/>
</typeAliases>

</configuration>
