<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
			<script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}" ></script>
	       <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
	       <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	       <link rel="stylesheet" th:href="@{/css/index.css}" />

	</head>
	<body>
		
		<div>
			<div id="index_create_div"  class="btn btn-primary">
				<i class="icon create-icon"></i>
			<a href="create.html" >创建问卷</a>
		    </div>
		</div>
		
		
		
		
	</body>
</html>
